/* flickity carousel */


/* ----------------------- */
/* CAROUSEL */

.carousel {
    width: 100%;
}
.projects-sect .carousel {
    width: calc(var(--one-third-max-width));
}
@media screen and (max-width: 880px) {
    .projects-sect .carousel {
        width: 100%;
    }
}


/* ----------------------- */
/* CELL */

.articles .carousel-cell {
    width: calc(var(--one-third-max-width));
}
.projects-sect .carousel-cell {
    width: calc(var(--one-third-max-width));
}
@media screen and (max-width: 1440px){
    .articles .carousel-cell {
        width: calc(var(--one-third-max-width) - var(--gap));
    }
    .projects-sect .carousel-cell {
        width: calc(var(--one-third-max-width) - var(--gap));
    }
}
@media screen and (max-width: 1200px){
    .articles .carousel-cell {
        width: calc(var(--one-half-max-width) - var(--gap));
    }
    .projects-sect .carousel-cell {
        width: calc(var(--one-half-max-width) - var(--gap));
    }
}

@media screen and (max-width: 1200px){
    .projects-sect .carousel {
        width: calc(var(--one-half-max-width));
    }
    .projects-sect .column {
        width: calc(var(--one-half-max-width) - var(--gap));
    }
    .projects-sect .column:first-of-type {
        width: 100%;
    }
    .projects-sect .carousel-cell {
        width: calc(var(--one-half-max-width) - var(--gap));
    }
}

@media screen and (max-width: 880px) {
    .projects-sect .row,
    .projects-sect .column,
    .projects-sect .carousel,
    .projects-sect .carousel-cell {
        width: 100%;
        max-width: 500px;
    }
}
@media screen and (max-width: 600px) {
    .articles .row,
    .articles .column,
    .articles .carousel,
    .articles .carousel-cell {
        width: 100%;
        max-width: 500px;
    }
}

.articles .carousel-cell:not(:last-of-type) {
    margin-right: var(--gap);
}

.projects-sect .carousel-cell:not(:last-of-type) {
    margin-right: var(--gap);
}

@media screen and (min-width: 881px) {
    .projects-sect .carousel .flickity-page-dots,
    .projects-sect .carousel .flickity-button {
        display: none;
    }
}


/* ----------------------- */
/* BUTTONS */

button.flickity-button.flickity-prev-next-button.previous {
    /* left: 50px; */
}

.flickity-prev-next-button {
    background-color: var(--secondary);
    color: var(--white);
    border: none;
    border-radius: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    transition: var(--transition-button);
    padding: 0;
}

.flickity-prev-next-button .flickity-button-icon {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.flickity-prev-next-button.next {
    right: -50px;
}
.flickity-prev-next-button.previous {
    left: -50px;
}

.twin-block .flickity-prev-next-button.next {
    right: 0px;
}
.twin-block .flickity-prev-next-button.previous {
    left: 50px;
}

@media screen and (max-width: 880px) {
    .articles .flickity-prev-next-button.next {
        right: -10px;
    }
    .articles .flickity-prev-next-button.previous {
        left: -10px;
    }
}
@media screen and (max-width: 880px) {
    :not(.twin-block) .flickity-button {
        display: none;
    }   
}

/* ----------------------- */
/* DOTS */

.flickity-page-dots {
    bottom: -32px;
}

.flickity-page-dots .dot {
    background-color: var(--secondary);
}

.project-sect .flickity-page-dots .dot {
    background-color: var(--white);
    opacity: 0.8;
    box-sizing: border-box;
}
.projects-sect .flickity-page-dots .dot.is-selected {
    background-color: var(--secondary);
    opacity: 1;
    border: solid 1px rgba(var(--white-rgb), 0.8);
}

/* ----------------------- */
