/* footer.css */


footer {
    background-color: #eeeeee;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* gap: var(--gap); */
    width: 100%;
    box-sizing: border-box;
}


/* ----------------------- */

footer .row,
.post footer .row {
    /* max-width: var(--max-col-width); */
    justify-content: space-between;
    padding: var(--gutter);
    box-sizing: border-box; 
}

footer .row.bottom {
    background-color: var(--primary);
    color: var(--color-white);
    padding: var(--gap) var(--gutter);
}
footer .row.bottom p {
    margin-bottom: 0;
}

footer .row.bottom .credits > *{
    color: var(--color-white)
}

footer .row.bottom .credits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem var(--gap);
}

.credits a {
    color: var(--color-white);
    text-decoration: none;
}


footer .row .column {
    align-items: flex-start;
    max-width: unset;
    gap: var(--gap); 
}

footer .row .column:last-of-type {
    max-width: 150px;
}

footer .row .column.credits {
    max-width: unset;
    width: max-content;
}

.logo_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--gap);
}

footer .site-logo-link {
    position: relative;
    left: 0;
}
footer .logo {
    width: 165px;
    height: 18px;
    /* transform: translate(-50%, -50%); */
    transition: var(--transition);
    -o-object-fit: contain;
    object-fit: contain;
}

footer,
footer p,
footer .address p,
footer .address a {
    font-family: var(--footer-font-family);
    font-size: var(--font-size-footer);
    font-weight: var(--footer-font-weight);
    letter-spacing: var(--letterspacing-footer);
    text-transform: uppercase;
    text-decoration: none;
}

/*  */

.social_header {
    font-weight: var(--footer-font-weight);
}
.social_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20px;
    height: 20px; */
    transition: var(--transition);
}
.social-link img {
    width: 20px;
    height: 20px;
    fill: var(--color-white);
    display: block;
}

footer .col-image {
    width:100px
}