/* layout.css */

.visually-hidden {
    /* // Move the text out of the flow of the container. */
    position: absolute;
    
    /* // Reduce its height and width to just one pixel. */
    height: 1px;
    width: 1px;
    
    /* // Hide any overflowing elements or text. */
    overflow: hidden;
    
    /* // Clip the box to zero pixels. */
    clip: rect(0, 0, 0, 0);
    
    /* // Text won't wrap to a second line. */
    white-space: nowrap;
}

.no_scroll {
    overflow: hidden;
}

.no_border {
    border: none;
}

/* flex */

.flex { display: flex !important; }
.flex-col { flex-direction: column !important; }
.flex-row { flex-direction: row !important; }
.flex-wrap { flex-wrap: wrap !important; }
.flex-nowrap { flex-wrap: nowrap !important; }
.justify-center { justify-content: center !important; }
.justify-between { justify-content: space-between !important; }
.justify-end { justify-content: flex-end !important; }
.justify-stretch { justify-content: stretch !important; width: 100%; }
.align-center { align-items: center !important; }
.align-start { align-items: flex-start !important; }
.align-end { align-items: flex-end !important; }
.align-stretch { align-items: stretch !important; }
.row-reverse { flex-direction: row-reverse !important; }
.column-reverse { flex-direction: column-reverse !important; }

.square { aspect-ratio: 1 / 1; }
.wide { aspect-ratio: 16 / 9; }

@media screen and (max-width: 880px) {
    .column-reverse-mob { flex-direction: column-reverse !important; }
}

.relative { position: relative; }


/* -------------------------------------------------------- */
/* global */

body {
    background-color: var(--not-white);
    margin: 0;
    padding: 0;
}

main {
    margin: var(--header-height) auto 0;
    max-width: 100vw;
    min-height: 100vh;
    /* padding: var(--header-height) var(--gutter); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

hr {
    margin-top: var(--gap-large);
    margin-bottom: var(--gap-large);
    height:1px;
    border-width:0;
    color: var(--color-primary);
    background-color: var(--color-primary);
}
hr.redbar {
    background-color: var(--color-tertiary);
    max-width: 5rem;
    margin: 1.5rem auto 1.5rem 0;
}

/* ----------------------- */
/* images */

img {
    max-width: unset;
    height: auto;
    display: block;
}

/* ----------------------- */
/* sections */

section {
    padding: var(--gutter);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
}
.pattern {
    background-image: url(../images/pattern.png);
    background-size: 7.5%;
    background-repeat: repeat;
}
section.pattern.twin-block {
    padding: 0;
    width: 100%;
    max-width: var(--max-width);
}
section.plain, .plain {
    background-color: var(--color-white);
}

/*  */
.full-width-bg {
    padding: 0;
    width: var(--max-width);
    max-width: var(--max-width);
}

.full-width-bg .cell_wrap { position: relative; }
.cell_wrap .row { position: absolute; top:50%; left: var(--gutter); transform: translateY(-50%);}

.full-width-bg .column.half_col { width: calc(50% -(var(--gutter)* 2));}
.full-width-bg .column.half_col .card {
    aspect-ratio: 1 / 1;
    max-width: unset;
    width: calc(var(--max-width) / 4);
}
@media screen and (max-width: 1200px) {
    .full-width-bg .column.half_col .card {
        width: calc(var(--max-width) / 3);
        aspect-ratio: unset;
    }
}
@media screen and (max-width: 880px) {
    .full-width-bg .column.half_col .card {
        width: calc(var(--max-width) / 2);
        aspect-ratio: unset;
    }
}
@media screen and (max-width: 800px) {
    .full-width-bg .column.half_col .card {
        width: calc(var(--max-width) - (var(--gutter)*4));
        aspect-ratio: unset;
    }
}

/*  */

section.projects-sect {
    background-image: url(../images/ProjectsSectionBG.jpg);
    background-size: cover;
    background-position: center center;
}

.projects-sect .carousel-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-sm);
}

@media screen and (max-width: 880px) {
    .carousel-nav_container {
        display: none !important;
    }
}

/* ----------------------- */

.twin-block .img_wrap img {
    width: calc(var(--max-width) / 2);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    height: auto;
}
@media screen and (max-width: 880px) {
    .twin-block .img_wrap img {
        width: 100%;
        min-width: 100vw;
    }
}

/* VIDEO */

video {
    /* override other styles to make responsive */
    width: auto    !important;
    /* height: auto   !important; */
    height: calc(var(--max-width) / 2);
}
@media screen and (max-width: 880px) {
    video {
        width: 100%    !important;
        height: auto   !important;
    }
}

/* ----------------------- */
/* CAPTIONED IMAGES */
/* IMAGE CAPTION */

.captioned figcaption,
div.caption_wrap {
    bottom: 14px;
    left: 20px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    z-index: 1111;
    display: flex;
    justify-content: flex-start;
}

.img_wrap, .video_wrap { position: relative; }

.video_wrap {
    /* height: 50vw; */
    height: calc(var(--max-width) / 2);
    width: calc(var(--max-width) / 2);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 880px) {
    .video_wrap {
        width: 100%;
        height: 100%;
    }
}

.img_wrap.captioned::after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    content: '';
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
}

/* FIGURE */


figure { margin: 0; }

/* ----------------------- */
/* SHOUT BANNER */

.shout_banner {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--gap-large);
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
}
.shout_banner .row {
    justify-content: center;
}
.shout_banner h2 {
    margin: 0;
}   


/* structure */

/* ----------------------- */
/* rows */

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: var(--gap-large);
    /* !!!! */
    /* overflow-x: hidden; */
}
.type_eg .row {
    flex-wrap: wrap;
}

.hero .row {
    overflow: unset;
}

@media screen and (max-width: 880px) {
    .row {
        flex-wrap: wrap;
        /* gap: var(--gap) */
    }
}
.twin-block .row {
    gap: 0;
    align-items: center;
}
@media screen and (max-width: 880px) {
    .twin-block .row {
        flex-direction: column;
    }
}

.home.projects-sect .row {
    gap: var(--gap);
}

/* ----------------------- */
/* columns */

.col_group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: var(--gap-large); 
}

.column, .left-column, .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-large);
}


.column {
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
}
.half .column, .column.half_col {
    width: 50%;
    max-width: var(--hlf-width-nogap);
    align-items: center;
}
@media screen and (max-width: 880px) {
    .half .column, .column.half_col {
        width: 100%;
        max-width: var(--max-width);
    }
}
.card_col {
    padding: var(--gap-large);
}

.column.one-third {
    width: 100%;
    max-width: var(--one-third-max-width);
}
.column.two-third {
    width: 100%;
    max-width: var(--two-thirds-max-width);
}
.column.one-quarter {
    /* width: 100%; */
    width: var(--qtr-width);
    max-width: var(--one-qtr-max-width);
}
.column.one-quarter:first-of-type {
    align-items: flex-start;
} 
.column.one-quarter:last-of-type {
    align-items: flex-end;
} 

@media screen and (max-width: 1200px) {
    .column, .column.one-third, .column.two-third {
        width: 100%;
        /* max-width: calc(44.5vw - var(--gap)); */
    }
    
    .column.one-quarter:first-of-type,
    .column.one-quarter:last-of-type {
        align-items: center;
    }


}

@media screen and (max-width: 1080px) {
    .row.four_col {
        flex-wrap: wrap;
    }
    .column.one-quarter {
        /* width: var(--hlf-width);
        max-width: calc(var(--one-half-max-width) - var(--gap)); */
        width: 50%;
        max-width: calc(var(--max-col-width)/2 - (var(--gap) *2));
    }
    .home-intro .row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 880px) {
    .column, .column.one-third, .column.two-third {
        width: 100%;
        max-width: unset;
    }
}
@media screen and (max-width: 500px) {
    .column.one-quarter {
        width: 100%;
        max-width: unset;
    }
}

.left-column {
    min-width: 20vw;
    max-width: 250px;
    padding-top: 1rem;
    border-top: 1px solid var(--color-primary);
}
@media screen and (max-width: 1200px) {
    .left-column {
        /* min-width: calc(100%/2 - var(--gap-large));  */ 
        max-width: 45ch; 
    }
}

.right-column {
    min-width: calc(100%*2/3 - var(--gap-large));
    /* max-width: 75ch; */
    width: 100%;
    min-width: calc(100%* 2 / 3 - var(--gap-large));
    max-width: calc(var(--max-width)* 2 / 3 - var(--gap-large));
}
@media screen and (max-width: 1200px) {
    .right-column {
        min-width: unset;   
        max-width: unset;
    }
}

/* ----------------------- */
/* containers */

[class*='-container'] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    margin-top: var(--gap-large);
    margin-bottom: var(--gap-large);
    gap: var(--gap-large);
}
@media screen and (max-width: 1080px) {
    [class*='-container'] {
        flex-direction: column;
    }
}

/* ----------------------- */
/* items */

[class*="-items"] {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    gap: var(--gap);
    margin-bottom: var(--gutter);
} 
@media screen and (max-width: 1080px) {
    [class*="-items"] {
        flex-direction: column;
    }
    
}
[class*="-item"] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--gap-sm);
}

@media screen and (max-width: 1080px) {
    [class*="-item"] {
        display: flex;
        /* min-width: calc(100%/3 - var(--gap)); */
    }
    
}

/* ----------------------- */
/* HEROS */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-large);
    width: 100%;
    /* min-height: 30vw; */
    min-height: 470px;
    max-height: 60vh;
    overflow: hidden;
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-align: center;
    /* padding: var(--gap-large); */
    box-sizing: border-box;
    max-width: unset;
    position: relative;
    padding: 0;
}

@media screen and (max-width: 1080px) {
    .hero {
        min-height: unset;
        max-height: unset;
    }
    
}

.post .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-large);
    width: 100%;
    /* min-height: 30vw; */
    overflow: hidden;
    background-color: var(--color-secondary);
    color: var(--color-white);
    text-align: center;
    /* padding: var(--gap-large); */
    box-sizing: border-box;
    max-width: var(--max-width);
    position: relative;
    padding: 0;
}

body:not(.home) .hero {
    max-height: 30vh;
}

.hero-image img {
    width: 100%;
    height: auto;
    min-height: 100%;
    min-width: var(--max-width);
    object-fit: cover;
}

.hero img {
    width: 100%;
    height: auto;
    min-width: 100vw;
    min-height: 470px;
    object-fit: cover;
}

@media screen and (max-width: 1080px) {
    .hero img {
        min-height: unset;
        height: 100%;
    }
}

/* horiz grad for text */
body:not(.home) .hero::before {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    content: '';
    background-image: linear-gradient(90deg, rgba(var(--color-primary-rgb), 0.5), rgba(var(--color-primary-rgb), 0.0));
}
@media screen and (max-width: 1080px) {
    body:not(.home) .hero::before {
        width: 100%;
        background-image: linear-gradient(90deg, rgba(var(--color-primary-rgb), 0.5), rgba(var(--color-primary-rgb), 0.3));
    }
}
body.post .hero::before {
    all: unset;
}




/* .hero-component.home .background .video-js:not(.vjs-fluid),  */
.home .hero.large-hero {
    height: 656px;
}
.hero.captioned::after {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    content: '';
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6));
}

.hero.captioned figcaption,
.hero div.caption_wrap {
    bottom: 18px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}

.hero .row {
    position: absolute;
    z-index: 1111;
    justify-content: center;
}

.hero .column {
    align-items: flex-start;
}

@media screen and (max-width: 1540px) {
    .hero .column {
        max-width: calc(var(--max-col-width) - 5vw);
    }
}

@media screen and (max-width: 1440px) {
    .hero .column {
        max-width: var(--max-col-width);
    }
}

.hero h1 {
    backdrop-filter: drop-shadow(0px 0px 2rem rgba(var(--primary-rgb),0.8));
    text-shadow: 0px 0px 2rem rgba(var(--primary-rgb),0.8);
}


/* ----------------------- */
/* intro */

.home-intro {
    /*  */
}


/* ----------------------- */
/* CARDS */


.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    /* gap: var(--gap-sm); */
    border: 1px solid var(--color-secondary);
    width: 100%;
    /* min-width: 300px; */
    /* margin: 3rem auto; */
    background-color: var(--color-white);
    box-sizing: border-box;
}
.column.half_col .card {
    width:calc(var(--max-width)/3);
    max-width: 30vw;
}
@media screen and (max-width: 1440px) {
    .column.half_col .card {
        max-width: 40vw;
    }
}
@media screen and (max-width: 1080px) {
    .column.half_col .card {
        width: 100%;
        max-width: unset;
    }
}

.card p {
    max-width: unset;
}
.card p:last-of-type {
    margin-bottom: 0;
}
.card-image {
    width: 100%;
    height: 30%;
    overflow: hidden;
    background-color: var(--color-secondary);
    line-height: 0;
}
.card-image {
    width: 100%;
    height: 30%;
}
.articles .card-image {
    max-height: 40vh;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* <img> is inline element - to remove padding/line-height change to block */
    display: block;
}
.articles .card-image img {
    height: 40vh;
}
.card-content {
    padding: var(--gap);
    position: relative;
    /* font-weight: var(--base-font-weight); */
}
.card-content .card-text {
    max-height: 400px;
    overflow-y: auto;
    border-top: 0.5px solid rgba(var(--color-primary-rgb), 0.125);
    position: relative;
}
@media screen and (max-width: 880px) {
    .card-content .card-text {
        max-height: unset;
    }
}

.card-text ul {
    padding-left: 1rem;
    padding-right: 0.5rem;
}
.card-text li {
    margin-bottom: 0.5rem;
}

.card-content .card-image {
    margin-bottom: var(--gap);
}
.card [class*="button"], .card button {
    margin-top: 1.5rem;
}

/* ----------------------- */
/*  */

.card_link {
    text-decoration: none;
    position: relative;
}

/* ----------------------- ----------------------- ----------------------- */
/* ARTICLES LISTING  post-list */

/* .archive { } */

.tags, .categories {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-sm);
    margin-bottom: var(--gap);
    font-size: var(--font-size-sm);
}
.tags .title, .categories  .title,
.tags a, .categories a { 
    text-transform: uppercase;
    text-decoration: none;
}
.tags a:hover, .categories a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--color-tertiary);
}
.tags a.active, .categories a.active {
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--color-tertiary);
}
.grid-archive .column {
    gap: var(--gap);
}

.grid-archive .grid-col.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--gap);
}


@media screen and (max-width: 1200px) {
    .grid-archive .grid-col.column {
        width: 100%;
        max-width: unset;
    }
}
.grid-archive .card {
    width: 100%;
    /* max-width: calc(var(--one-qtr-max-width) + (var(--gap) / 2)); */
    max-width: calc(var(--one-third-max-width));
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
}

.grid-archive .card:hover,
.grid-archive a:hover .card  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid-archive .card img {
    width: 100%;
    height: 100%;
    height: var(--one-third-max-width);
    /* min-height: calc(var(--one-third-max-width) + (0.5rem)); */
    object-fit: cover;
    object-position: center;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
}

.grid-archive .card:hover img,
.grid-archive a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}

@media screen and (max-width: 1440px){
    .grid-archive .card, 
    .grid-archive .card img {
        max-width: calc(var(--one-third-max-width) - (1rem));
    }
}
@media screen and (max-width: 1200px){
    .grid-archive .card, 
    .grid-archive .card img {
        /* max-width: calc(var(--one-third-max-width) - (1rem));
        min-height: calc(var(--one-third-max-width) - (1rem)); */
    }
}
@media screen and (max-width: 880px){
    .grid-archive .card, 
    .grid-archive .card img {
        max-width: calc(var(--one-half-max-width) - (0.5rem));
        min-height: calc(var(--one-half-max-width) - (0.5rem));
    }
}
@media screen and (max-width: 660px){
    .grid-archive .card, 
    .grid-archive .card img {
        max-width: calc(90vw - (0.0rem));
        min-height: calc(90vw - (0.0rem));
    }
}

.grid-col .card-content {
    height: 20vh;
}
@media screen and (max-width: 880px){
    .grid-col .card-content {
        height: auto;
    }
}

.grid-archive h3 {
    overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.grid-archive p {
    overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

/* ----------------------- ----------------------- ----------------------- */
/* PROJECTS LISTING GRID */

.grid_banner {
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: var(--gap-large) var(--gutter);
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
}
.grid_banner .row {
    justify-content: center;
}

.grid_banner .grid-col.column {
    width: 100%;
    max-width: unset;
    box-sizing: border-box;
}
.grid_banner h2 {
    margin: 0;
}   


.grid-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap);
    /* margin-bottom: var(--gap-large); */
}

.grid .grid-col.column {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--one-qtr-max-width), 1fr)); */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--gap);
}

@media screen and (max-width: 1200px) {
    .grid .grid-col.column, .column.one-third, .column.two-third {
        width: 100%;
        max-width: unset;
    }
}
.grid .card {
    width: 100%;
    /* max-width: calc(var(--one-qtr-max-width) + (var(--gap) / 2)); */
    max-width: calc(var(--one-qtr-max-width) + (8px));
    /* aspect-ratio: 1 / 1; */
    overflow: hidden;
}

.grid .card:hover,
.grid a:hover .card  {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid .card img {
    width: 100%;
    height: 100%;
    /* min-height: var(--one-qtr-max-width); */
    min-height: calc(var(--one-qtr-max-width) + (0.5rem));
    object-fit: cover;
    object-position: center;
    display: block;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
}

.grid .card:hover img,
.grid a:hover .card img {
    transform: scale(1.05);
    transform-origin: center;
    transition: var(--transition);
}

@media screen and (max-width: 1440px){
    .grid .card, 
    .grid .card img {
        max-width: calc(var(--one-qtr-max-width) - (0.5rem));
    }
}
@media screen and (max-width: 1200px){
    .grid .card, 
    .grid .card img {
        max-width: calc(var(--one-third-max-width) - (1rem));
        min-height: calc(var(--one-third-max-width) - (1rem));
    }
}
@media screen and (max-width: 880px){
    .grid .card, 
    .grid .card img {
        max-width: calc(var(--one-half-max-width) - (0.5rem));
        min-height: calc(var(--one-half-max-width) - (0.5rem));
    }
}
@media screen and (max-width: 660px){
    .grid .card, 
    .grid .card img {
        max-width: calc(90vw - (0.0rem));
        min-height: calc(90vw - (0.0rem));
    }
}

/* POP up content */


.project-content {
    /* font-weight: var(--base-font-weight); */
    display: flex;
    flex-direction: row;
    max-height: 40vh;
    overflow: hidden;
}
@media screen and (max-width: 1080px){
    .project-content {
        flex-direction: column;
        max-height: 80vh;
    }
}

.project-content .project-image {
    min-width: 50%;
    max-width: 50%;
    min-height: 100%;
    overflow: hidden;
    background-color: var(--color-secondary);
    line-height: 0;
}
@media screen and (max-width: 1080px){
    .project-content .project-image {
        height: 30vh;
        width: 100%;
        min-width: 100%;
        min-height: unset;
        /* max-height: 30%; */
    }
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    max-width: 50vw;
}
@media screen and (max-width: 1080px){
    .project-content .project-image img {
        width: 100%;
        height: 30vh;
        max-width: unset;
    }
}

.project-content .project-details {
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    overflow-y: auto;
    overflow-x: hidden;
}

.project-details::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: var(--gap);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}
@media screen and (max-width: 1080px){
    .project-details::after {
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1080px){
    .project-content .project-details {
        padding: var(--gap-large);
        max-height: 50vh;
        overflow-y: auto;
    }
}

.project-details .project-title {
    font-family: var(--heading-font-family);
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.project-details p {
    margin-bottom: 0.5rem;
}


/* ----------------------- */
/* articles / posts */

.post {
    --max-width: 880px;
}

.post .content {
    background-color: white;
}
.post .row {
    justify-content: center;
}
.post .column {
    align-items: flex-start;
    max-width: 600px;
}

.post img {
    width: 100%;
    height: auto;
    display: block;
}

.post .post-meta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-sm);
    margin-bottom: var(--gap-sm);
    font-size: var(--font-size-sm);
}

blockquote, blockquote p {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: 600;
    text-align: left;
}
blockquote {
    margin-bottom: var(--gap);
    padding-left: 1rem;
    border-left: solid 4px var(--color-tertiary);
}

/* ----------------------- */
/* generic page */

.generic {
    /* --max-width: 880px; */
}

.generic .content {
    /* --max-width: 880px; */
    background-color: rgba(var(--color-primary-rgb), 0.035);
    padding: 0;
    align-items: center;
}
.generic .content .row {
    max-width: 880px;
    background-color: white;
    padding: var(--gutter);
    justify-content: center;
}
.generic .content .column {
    align-items: flex-start;
    max-width: 600px;
}


/* ----------------------- */
/*  */

.no_border {
    border: none;
}